
 body {

 color: rgba(0, 0, 0, .7);
 font-family: Arial, sans-serif;
 font-size: 16px;
 font-family: "roboto";

 }

h2
{
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 1000;
	margin: 0 0 20px 0;	
}

h3
{
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 30px 0;
}

h4 {
  font-size: 26px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
 
}

h5 
{
  font-size: 26px;
  font-family: "Myriad Pro", sans-serif; 
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1.077;
  text-align: left;
  padding-left: 40px;
}

.text-decoration {
 padding-left: 40px;
 padding-right: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.438;
  text-align: left;
  }

hr

{
	opacity: 0.8;
}

.page-title {
 	text-align: center;	 	
 	
}

/*menu*/
.page-title_aside {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 300px;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-align: left;
	z-index: 100;
	display: none;
}


.list-menu {
	list-style: none;
	margin: 80px 0 0 20px;
	padding: 0;
}

.list-menu li {
	margin: 0 0 15px;
	cursor: pointer;
}

.list-menu li:hover {
	color: #ff2b4a;

}
.list-menu a:hover
{
	color: #ff2b4a;
}
.close {
	position: absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
	font-size: 20px;
}

.close:hover {
	opacity: .7;
}

.list-menu a {
	text-decoration: none;
	color: #fff;
}
/*menu*/

 .wrap {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.my-head_menu-icon
{
    background: url(../image/button-menu.png) no-repeat;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 20px;
    right: 90px;
}
.my-head_menu-icon:hover
{
	 background: url(../image/button-menu-pink.png) no-repeat;
    position: absolute;
    width: 59px;
    height: 59px;
    top: 20px;
    right: 90px;
}

.photo-paul
{
	padding-top: 50px;
	display: inline-block; 
	width: 450px;
	height: 585px;
    margin-right: 30px;
    vertical-align: top;
}

 .my-info
 {
 	padding-top: 50px;
 	text-align: left;
 	font-family: bold;
    display: inline-block; 
    vertical-align: top;
    width: 670px;
    font-size: 16px;
    margin-top: 50px;
    
}

.my-info p {

line-height: 1.75em;
margin: 30px 0;

}
/*button with tooltip*/

.tooltip_first{

	width: 150px;
	font-family:'Roboto'sans-serif;
	height: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 14px;
	background: #fff;
	position: absolute;
	bottom: 100%;
	left: 200px;
	border-radius: 2px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
	display: none;
}

.button-wrap {
	position: relative;
}

.process-section
{
padding: 120px 0;
background: #f2f2f2

}

.process-section_buttons

{
margin-top: 50px;
font-size: 0;
text-transform: uppercase;
font-weight: bold;
}

.process-section_item

{
width: 274px;
height: 274px;
display: inline-block;
vertical-align: top;
font-size: 16px;
color: #fff;
margin: 0 7px;

}

.text-about-process
{
  font-size: 16px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.702);
  line-height: 1.751;
  text-align: center;

}

.latest-work
{
	background-color: white;

}
.latest-work img:hover
{
   opacity: 1.0;
}
.my-latest-work-block
{
padding-top: 120px;
width: 1170px;

}
.latest-work-images
{

	padding-top: 40px;
	padding-bottom: 125px;
}
.latest-work img
{
	padding: 2px;
	opacity: 0.95;
}

a.tooltips {
  position: relative;
  display: inline-block;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #ff2b4a;
  font-weight: bolder;
  background: #000;
  height: 40px;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
 
 content: "";
  font-family: "Roboto";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
 
  bottom: 70px;
  visibility: visible;
  left: 30%;
  margin-left: -75px;
  z-index: 999;
}

 



.process-section_design 
{
background: #10c6fc;
}
.process-section_development 
{
background: #835aeb;
}
.process-section_testing 
{
background: #002453;
}
.process-section_launch 
{
background: #ff2b4a;
}

.process-section_icon
{
	display: block;
	margin: 80px auto 40px;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;

}

.process-section_design .process-section_icon
{
	background-image:url(../image/button_design.png);
	
}
.process-section_development .process-section_icon
{
	background-image:url(../image/button_development.png);
}
.process-section_testing .process-section_icon
{
	background-image:url(../image/button_testing.png);
}
.process-section_launch .process-section_icon
{
	background-image:url(../image/button_launch.png);
}

/*review*/
.review
{
	background-image: url(../image/background_6.jpg);
	background-repeat: no-repeat;
	padding: 135px 0;
	background-size: cover;
	position: relative;
}

.review-text
{
	max-width: 465px;
    text-align: left;
    line-height: 1.9;
    position: relative;
    margin-top: 95px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.751;


}
/*
.review-text::before
{
 	content: '';
 	display: block;
 	background-image: url(../image/quotes.png);
	width: 58px;
	height: 48px;
	margin-bottom: 45px; 
}*/

.review-text::after
{
 	content: '';
 	display: block;
 	background-image: url(../image/quotes.png);
	width: 58px;
	height: 48px;
	position: absolute;
	top: -93px;
	left: 0;
	margin-bottom: 45px;

}

/*
.review-quotes
{
	background-image: url(../image/quotes.png);
	width: 58px;
	height: 48px;
	margin: 0 0 45px 0;
}*/

.review-sign
{
 background-image: url(../image/sign.png);
 width: 170px;
 height: 66px;
 margin: 60px 0 30px 0;
}

.review-name
{
  font-size: 14px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
  text-align: left;
  position: absolute;
}

.header
{
	position: relative;
	padding: 255px 0; /*по макету в этом месте 405px, но тогда надпись не по центру, поставила пока 255*/
	text-align: center;
	background-image: url(../image/background_1_1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.header-text

{
	display: inline-block;
	vertical-align: top;
 	text-transform: uppercase;
 	font-size: 65px;
 	font-weight: bold;
 	letter-spacing: 12px;
    color: white;
 	border-top: 3px solid rgba(255, 255, 255,0.5);
 	border-bottom: 3px solid rgba(255, 255, 255,0.5);
 	padding: 20px 0 20px 0;
 	font-family: 'Raleway heavy', sans-serif;
}

.header-links
{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.702);
  text-align: center;
  margin-top: 25px;
}

.login-form {
    padding: 125px 0;
    font-size: 0;
    background: url(../image/form_block_bg.jpg) no-repeat #333;
    background-size: cover;
}

.login-form-column {
    display: inline-block;
    vertical-align: top;
    width: 577px;
    font-size: 16px;
}
.login-form-column-left {
    margin-right: 16px;
}
.login-form-box {
	text-align: left;
    margin-bottom: 16px;
    line-height: 1.876;
    padding: 33px 40px;
    color: rgba(255,255,255,.7);
    background: rgba(93,35,96,.3);
    background: -webkit-linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%);
    background: linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%);
}


.skills-section

{ 
	background: url(../image/form_block_bg.jpg) no-repeat #333;
    background-size: cover;


}
.skills
{
padding: 130px 0 125px 0;
margin: 0 auto;

}

.skills-box
{

 padding-top: 60px;
 
 margin: 6px;
 width: 545px;
 height: 580px;
 display: inline-block;
 vertical-align: top;
 color: rgba(255,255,255,.7);
 background: rgba(93,35,96,.3);
 background: -webkit-linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%);
 background: linear-gradient(45deg, rgba(93,35,96,0.3) 0%,rgba(158,53,105,0.3) 100%);
}

input
{
	width: 495px;
	height: 48px;
	color: #fff;
	padding-left: 18px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid;
	text-decoration-color: #fff;
}	

textarea
{
	width: 493px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	border: 1px solid;
	padding-left: 18px;
	padding-top: 20px;
}

form
{
	color: rgba(255, 255, 255, 0.6);
	text-align: left;
}
.buttonstyle_right
{
	margin: 30px 0 0 315px;
}

.buttonstyle 
  			 {
   			background: #ff2b4a;
    		color: white; 
    		font-size: 16px; 
    		min-width: 202px;
    		padding: 10px;
    		vertical-align: top;
    		border: 0;
    		cursor: pointer;

  			 }
/* действие прозрачности при наведении мышкой накнопку*/
.buttonstyle-bg

{
	position: relative;
	left: 250px;
	background-color: black;
}

.buttonstyle:hover
{
	opacity: .85;
}

.column-education
{
background: #676268;
margin: 10px;
padding: 15px;
}

.footer
{
	margin: 0 auto;
	font-size: 0px;
	background-color: #000;
	height: 120px;
}


.footer-text
{
 margin: 0 auto;
 padding-top: 20px;
 font-size: 12px;
 font-family: "Myriad Pro";
 color: rgba(255, 255, 255, 0.502);
 text-align: center;
 
}
.footer-icons

{
	display: inline;
	vertical-align: middle;
	
}

a 
{
	text-decoration: none;
}

a:hover { 
    opacity: 0.9;
   } 

   a:link /*цвет ссылки*/ 

   {
   	color: rgba(255, 255, 255, 0.702);
 
   }

   a:vlink /*цвет после нажатия*/ 
   {
    color: #fff;
   }

   a:alink /*цвет активности ссылки*/
   {
    color: #fff;
   }


